<nz-spin [nzTip]="'loading...'" [nzSpinning]="_isSpinning">
  <nz-content style="margin:0 16px;">
    <nz-breadcrumb style="margin:12px 0;">
      <nz-breadcrumb-item>lamp</nz-breadcrumb-item>
      <nz-breadcrumb-item>data</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div nz-row>
      <p nz-col [nzSpan]="1" style="position: relative; top: -2px; font-size: 20px;">imei:</p>
      <nz-select style="width: 170px;" [(ngModel)]="imei" (nzScrollToBottom)="scrollToBottom()" (nzOpenChange)="initTableData(imei)"
                 [nzNotFoundContent]="'Empty'" nzPlaceHolder="Please select"  nz-col [nzSpan]="23">
        <nz-option *ngFor="let option of imeis" [nzLabel]="option.imei" [nzValue]="option.imei">
        </nz-option>
        <nz-option [nzLabel]="'disabled'" [nzDisabled]="true" [nzValue]="'disabled'" *ngIf="loading">
          <ng-template #nzOptionTemplate>
            <i class="anticon anticon-loading anticon-spin"></i> Loading...
          </ng-template>
        </nz-option>
      </nz-select>
    </div>
      <nz-table #nzTable [nzData]="data" [nzPageSize]="15" [nzScroll]="{x:'1500px', y: '525px'}" style="text-align: center;">
        <thead>
          <tr>
            <th style="text-align: center;"  nzWidth="150px" nzLeft="0px">Id</th>
            <th style="text-align: center;"  nzWidth="150px" nzLeft="150px">Imei</th>
            <th style="text-align: center;" >T1</th>
            <th style="text-align: center;" >T2</th>
            <th style="text-align: center;" >T3</th>
            <th style="text-align: center;" >T4</th>
            <th style="text-align: center;" >T5</th>
            <th style="text-align: center;" >T6</th>
            <th style="text-align: center;"  nzWidth="200px" nzRight="0px">DateTime</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of nzTable.data" style="text-align: center;">
          <td nzLeft="0px">{{data.id}}</td>
          <td nzLeft="150px">{{data.imei}}</td>
          <td>{{data.t1}}</td>
          <td>{{data.t2}}</td>
          <td>{{data.t3}}</td>
          <td>{{data.t4}}</td>
          <td>{{data.t5}}</td>
          <td>{{data.t6}}</td>
          <td nzRight="0px">{{data.collectionDatetime}}</td>
          <!--<td nzRight="0px">
            <a>action</a>
          </td>-->
        </tr>
        </tbody>
      </nz-table>
  </nz-content>
</nz-spin>
